        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Comfortaa');
        @import url('https://fonts.googleapis.com/css2?family=Google Sans');
        body {
            background: #ffffff;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            overflow-x: hidden;
            margin: 0;
            font-size: 14px;
            /*line-height: 1.42857143;*/
            color: #444;
        }
        /*Transition==========================*/
        
        .page-topbar,
        .logo-area,
        .logo-area,
        #main-content,
        .logo-icon,
        .wraplist,
        .page-sidebar,
        .profile-info,
        .profile-image,
        .profile-details,
        .menu-title,
        .profile-image a img {
            -webkit-transition: 600ms;
            -moz-transition: 600ms;
            -o-transition: 600ms;
            transition: 600ms;
        }
        /*///////////////////////////DASH BOARD NAVBAR///////////////////////////*/
        
        .page-topbar {
            min-height: 60px;
            position: fixed;
            width: 100%;
            background-color: #35395c;
            top: 0px;
            left: 0px;
            z-index: 1999;
            box-shadow: 0 2px 4px rgba(33, 33, 33, .2);
            -webkit-box-shadow: 0 2px 4px rgba(33, 33, 33, .2);
            -moz-box-shadow: 0 2px 4px rgba(33, 33, 33, .2);
            -o-box-shadow: 0 2px 4px rgba(33, 33, 33, .2);
            -ms-box-shadow: 0 2px 4px rgba(33, 33, 33, .2);
            max-height: 60px;
        }
        
        .page-topbar .logo-area {
            background-image: url(../img/WebsiteHeaderLogo.png);
            background-repeat: no-repeat;
            background-size: 140px;
            margin-top: 0.75%;
            margin-left: 1%;
        }
        
        .page-topbar .logo-area {
            width: 240px;
            background-color: #35395c;
            display: block;
            min-height: 45px;
            float: left;
        }
        
        .page-topbar .logo-icon {
            background-image: url(../img/icon.png) !important;
            background-repeat: no-repeat !important;
            background-size: 37px;
            margin-top: 0.79%;
            margin-left: 1.2%;
        }
        
        .page-topbar .logo-icon {
            width: 100px !important;
            background-color: #35395c;
            display: block;
            min-height: 45px;
            float: left;
        }
        
        .page-topbar ul {
            margin: 0px;
            padding: 0px;
        }
        
        .page-topbar ul li {
            list-style-type: none;
        }
        
        .page-topbar .user-info li a {
            display: inline-block;
            font-size: 13px;
            padding: 5px 8px;
            color: #fff;
            font-family: 'Comfortaa';
            font-weight: 400;
            position: relative;
        }
        
        .page-topbar .user-notify li a {
            display: inline-block;
            font-size: 16px;
            padding: 5px 15px;
            color: #fff;
            font-family: 'Comfortaa';
            font-weight: 400;
            position: relative;
        }
        
        .page-topbar .quick-area .info-menu {
            height: 60px;
            margin: 0;
            line-height: 50px;
            padding: 0 15px;
            display: flex;
        }
        
        .page-topbar .badge {
            display: inline-block;
            min-width: 10px;
            position: absolute;
            padding: 3px 6px;
            font-size: 10px;
            font-weight: bold;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            background-color: #F44336;
            border-radius: 10px;
            top: 8px;
            right: 0;
        }
        
        li.profile img {
            height: 30px;
            width: 30px;
            top: 0px;
            right: 10px;
            position: relative;
            background-color: #999999;
        }
        /* Ripple magic */
        
        .page-topbar button:focus {
            outline: none;
        }
        
        .page-topbar button {
            border: none;
            width: 50px;
            cursor: pointer;
            height: 50px;
            color: white;
            /*padding: 11px 15px;*/
            font-size: 21px;
            border-radius: 100%;
            background: transparent;
            margin-top: 5px;
            position: relative;
            float: left;
        }
        
        .page-topbar button {
            position: relative;
            overflow: hidden;
        }
        
        .page-topbar button:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 5px;
            height: 5px;
            background: rgba(255, 255, 255, .5);
            opacity: 0;
            border-radius: 100%;
            transform: scale(1, 1) translate(-50%);
            transform-origin: 50% 50%;
        }
        
        @keyframes ripple {
            0% {
                transform: scale(0, 0);
                opacity: 1;
            }
            20% {
                transform: scale(25, 25);
                opacity: 1;
            }
            100% {
                opacity: 0;
                transform: scale(40, 40);
            }
        }
        
        .page-topbar button:focus:not(:active)::after {
            animation: ripple 1s ease-out;
        }
        
        .page-topbar li .dropdown-menu.profile {
            width: max-content;
            height: auto;
            padding: 0px;
        }
        
        .dropdown-menu {
            width: 360px;
            border-radius: 0px;
            -o-border-radius: 0px;
            -ms-border-radius: 0px;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
            line-height: 23px;
            font-size: 14px;
            padding-bottom: 0px;
            border: 0px solid transparent;
            box-shadow: 0 0 20px 0 rgba(33, 33, 33, .2);
            -webkit-box-shadow: 0 0 20px 0 rgba(33, 33, 33, .2);
            -moz-box-shadow: 0 0 20px 0 rgba(33, 33, 33, .2);
            -o-box-shadow: 0 0 20px 0 rgba(33, 33, 33, .2);
            -ms-box-shadow: 0 0 20px 0 rgba(33, 33, 33, .2);
            margin-top: -1px;
            padding-top: 0px;
        }
        
        .page-topbar .dropdown-menu {
            background: #ffffff;
            border: 1px solid #f5f5f5;
        }
        
        .page-topbar li .dropdown-menu.profile li {
            line-height: 40px;
            display: block;
            height: 40px;
            margin: 0px;
        }
        
        .page-topbar li .dropdown-menu.profile li a {
            display: block;
            border-bottom: 1px solid #eeeeee;
            padding: 12px 8px;
        }
        
        .page-topbar .dropdown-menu:after,
        .page-topbar .dropdown-menu:before {
            bottom: 100%;
            left: 22px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        
        .page-topbar .dropdown-menu:before {
            border-color: rgba(194, 225, 245, 0);
            border-bottom-color: rgba(80, 80, 80, .1);
            border-width: 10px;
            margin-left: -10px;
        }
        
        .page-topbar li .dropdown-menu li a {
            text-decoration: none;
            color: #717171;
        }
        /*//////////////////////////SIDE BAR NAVE//////////////////////////*/
        
        .page-sidebar {
            height: auto;
            width: 260px;
            position: fixed;
            padding: 0px;
            background-color: #ffffff;
            margin-top: 60px;
            overflow: hidden;
            box-shadow: 0 0 10px 0 rgba(33, 33, 33, .2);
            -webkit-box-shadow: 0 0 10px 0 rgba(33, 33, 33, .2);
            -moz-box-shadow: 0 0 10px 0 rgba(33, 33, 33, .2);
            -o-box-shadow: 0 0 10px 0 rgba(33, 33, 33, .2);
            -ms-box-shadow: 0 0 10px 0 rgba(33, 33, 33, .2);
            min-height: 100%;
            height: auto;
        }
        
        .page-sidebar.fixedscroll {
            position: fixed;
        }
        
        .page-sidebar.collapseit {
            width: 60px;
            margin-left: 0px !important;
            z-index: 99;
        }
        
        .page-sidebar .profile-info {
            background: transparent;
            padding-top: 15px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 15px;
            display: flex;
        }
        
        .page-sidebar .profile-image {
            padding-right: 5px;
            display: inline-block;
        }
        
        .profile-info .profile-image img {
            height: 65px;
            width: 65px;
            float: right;
            top: 5px;
            left: 5px;
            position: relative;
        }
        
        .profile-info .icon-container {
            width: 65px;
            height: 65px;
            position: relative;
        }
        
        .short-profile img {
            height: 45px !important;
            width: 45px !important;
            left: 2px !important;
        }
        
        .short-profile .icon-container {
            width: 45px !important;
            height: 45px !important;
            position: relative;
        }
        
        .short-profile .profile-details {
            display: none;
        }
        
        .profile-info .profile-details h3 {
            margin: 19px 0px 6px 14px;
        }
        
        .profile-info .profile-details .profile-title {
            color: rgba(174, 178, 183, 1.0);
            font-size: 13px;
            margin: 0px 0px 6px 14px;
        }
        
        #main-menu-wrapper ul {
            padding: 0px;
            margin: 0px;
            padding-left: 0px;
            list-style-type: none;
            font-family: 'Comfortaa';
            font-weight: 400;
            font-size: 14px;
        }
        
        #main-menu-wrapper .menusection {
            font-weight: 400;
            font-size: 13px;
            line-height: 40px;
            padding-left: 24px;
            margin: 10px 0 0px 0;
            color: #9e9e9e;
            text-transform: uppercase;
        }
        
        .profile-info .profile-details h3 a {
            font-weight: 400;
            color: #757575;
            font-size: 19px;
            line-height: 23px;
            text-decoration: none;
        }
        
        #main-menu-wrapper li a {
            display: block;
            line-height: 42px;
            min-height: 42px;
            height: auto;
            color: #424242;
            text-decoration: none;
            /*    padding: 14px 0px;*/
            padding-left: 5px;
            clear: both;
            border-left: 4px solid transparent;
            white-space: nowrap;
            /*    font-size: 18px;*/
        }
        
        #main-menu-wrapper .fa {
            font-size: 14px;
        }
        
        #main-menu-wrapper li a i {
            display: inline-block;
            width: 40px;
            height: 34px;
            line-height: 34px;
            text-align: center;
            top: 0px;
            position: relative;
        }
        
        #main-menu-wrapper li a:hover {
            background-color: rgba(33, 33, 33, 0.1);
            border-left: 4px solid #35395c;
        }
        
        a.active {
            background-color: rgba(33, 33, 33, 0.1);
            border-left: 4px solid #35395c !important;
        }
        /*MAIN CONTENT/////////////////////////////////////////////////////////////*/
        
        #main-content {
            margin-left: 260px;
            display: block;
        }
        
        #main-content.sidebar_shift {
            margin-left: 60px;
            margin-right: 0px;
        }
        
        .main-wrapper {
            margin-top: 60px;
            display: inline-block;
            width: 100%;
            padding: 15px 15px 0 15px;
            margin-left: 0px;
            margin-right: 0px;
        }
        
        section.box {
            background-color: #ffffff;
            margin: 15px 0;
            min-height: 350px;
            box-shadow: 0 1px 3px rgba(33, 33, 33, .2);
            -webkit-box-shadow: 0 1px 3px rgba(33, 33, 33, .2);
            -moz-box-shadow: 0 1px 3px rgba(33, 33, 33, .2);
            -o-box-shadow: 0 1px 3px rgba(33, 33, 33, .2);
            -ms-box-shadow: 0 1px 3px rgba(33, 33, 33, .2);
        }
        /*---------------------------------------
    CLASS NAME- NOTICET : URL DECORATION for table              
-----------------------------------------*/
        
        .noticet a:link {
            text-decoration: none !important;
            color: #F2545F !important;
            font-size: 14px;
        }
        
        .noticet a:visited {
            text-decoration: none !important;
            color: #F2545F !important;
            font-size: 14px;
        }
        
        .noticet a:hover {
            text-decoration: underline !important;
            color: #F2545F !important;
            font-size: 14px;
        }
        
        .noticet a:active {
            text-decoration: underline !important;
            color: #F2545F !important;
            font-size: 14px;
        }
        /*---------------------------------------
    CLASS NAME- NOTICEA : URL DECORATION for table              
-----------------------------------------*/
        
        .noticea a:link {
            text-decoration: none !important;
            color: #F2545F !important;
            font-size: 13px;
        }
        
        .noticea a:visited {
            text-decoration: none !important;
            color: #F2545F !important;
            font-size: 13px;
        }
        
        .noticea a:hover {
            text-decoration: underline !important;
            color: #F2545F !important;
            font-size: 13px;
        }
        
        .noticea a:active {
            text-decoration: underline !important;
            color: #F2545F !important;
            font-size: 13px;
        }
        /*---------------------------------------
    CLASS NAME- link : URL DECORATION               
-----------------------------------------*/
        
        .link a:link {
            text-decoration: none !important;
            color: #F2545F !important;
        }
        
        .link a:visited {
            text-decoration: none !important;
            color: #F2545F !important;
        }
        
        .link a:hover {
            text-decoration: underline !important;
            color: #F2545F !important;
        }
        
        .link a:active {
            text-decoration: underline !important;
            color: #F2545F !important;
        }
        
        @media (max-width:767px) {
            .hidden-xs {
                display: none!important
            }
        }
        
        @media (max-width:767px) {
            td {
                display: block;
            }
            th {
                display: block;
            }
            li.profile img {
                /*top: 15px;*/
                right: 10px;
                /*position: fixed;*/
            }
            /* .page-topbar li .dropdown-menu.profile {
            max-width: 100%;
            position: relative;
            right: 20%;
        }*/
            .page-topbar .quick-area .info-menu {
                padding: 0px;
                height: 0px;
            }
            .page-topbar .logo-icon {
                width: 0px!important;
            }
            .page-topbar .logo-area {
                width: 0px!important;
            }
            .page-topbar li .dropdown-menu.profile {
                width: max-content;
                height: auto;
                padding: 0;
                /*position: relative;*/
                top: 50px;
            }
        }
        
        .prebanner {
            display: none;
        }
        
        .badge {
            padding-left: 9px;
            padding-right: 9px;
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
            border-radius: 9px;
        }
        
        #lblCartCount {
            font-size: 10px;
            background: #323F46;
            color: #fff;
            padding: 3px 5px;
            vertical-align: top;
            margin-left: -10px;
        }
        
        .exam_btn {
            display: inline-block;
            background: #F2545F;
            padding: 0px 10px;
            color: #fff;
            font-family: "Poppins", sans-serif;
            letter-spacing: 1px;
            font-size: 12px;
            font-weight: 500;
            line-height: 30px;
            border: 1px solid #F2545F;
            border-radius: 0px;
            outline: none !important;
            box-shadow: none !important;
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 300ms linear 0s;
        }
        
        .exam_btn:hover {
            background: #90BAA4;
            border: 1px solid #90BAA4;
        }
        /* LOADING IMAGE */
        
        .overlay {
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 999;
            background: rgba(255, 255, 255, 0.8) url("../img/loader.gif") center no-repeat;
        }
        
        body.loading {
            overflow: hidden;
        }
        
        body.loading .overlay {
            display: block;
        }
        
        .thover {
            top: 0;
            left: 0;
            position: fixed;
            background: #000;
            width: 100%;
            height: 100%;
            opacity: 0.3;
            z-index: 5000;
        }
        /*.tpopup {
position: fixed;
width: 60%;
background: #fff;
left: 20%;
top: 9%;
border-radius: 5px;
padding: 20px 0;
text-align: center;
box-shadow: 0 0 10px 0 #000;
z-index: 5001;
}*/
        
        .tpopup {
            position: fixed;
            width: 60%;
            background: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 5px;
            padding: 20px 0;
            text-align: center;
            box-shadow: 0 0 10px 0 #000;
            z-index: 5001;
        }
        
        @media (max-width:880px) {
            .tpopup {
                position: fixed;
                width: 90%;
                background: #fff;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 5px;
                padding: 20px 0;
                text-align: center;
                box-shadow: 0 0 10px 0 #000;
                z-index: 5001;
            }
        }
        /*@media (max-width:880px){.tpopup {
position: fixed;
width: 90%;
background: #fff;
left: 5%;
top: 35%;
border-radius: 5px;
padding: 20px 0;
text-align: center;
box-shadow: 0 0 10px 0 #000;
z-index: 5001;
}}*/
        
        .tclose {
            position: absolute;
            background: #000;
            color: white;
            right: -15px;
            top: -15px;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            font-size: 8px;
            font-weight: bold;
            font-family: 'Arial Black', Arial, sans-serif;
            cursor: pointer;
            box-shadow: 0 0 10px 0 #000;
        }
        
        .tclose:hover {
            background: #F2545F;
        }
        
        .dropdown-menu {
            right: 0%;
            left: auto;
        }
        
        #noti {
            width: 360px;
        }
        
        @media (max-width:767px) {
            .dropdown-menu {
                right: 0%;
                left: auto;
            }
            #noti {
                width: auto !important;
            }
        }
        
        .notification {
            font-size: 13px !important;
            font-family: "Roboto" !important;
            white-space: normal !important;
            word-wrap: break-word;
        }
        
        #menu ul li:first-child a:after {
            content: '';
            position: absolute;
            left: 15px;
            top: -8px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 8px solid #fff;
        }
        /*TEXT CLICK POPUP CSS and SCRIPT*/
        /* Popup container - can be anything you want */
        
        .popup {
            position: relative;
            display: inline-block;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        /* The actual popup */
        
        .popup .popuptext {
            visibility: hidden;
            width: 160px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 8px 0;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -80px;
        }
        /* Popup arrow */
        
        .popup .popuptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }
        /* Toggle this class - hide and show the popup */
        
        .popup .show {
            visibility: visible;
            -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s;
        }
        /* Add animation (fade in the popup) */
        
        @-webkit-keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        
        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        
        .underline {
            border-bottom: 2px solid currentColor;
            display: inline-block;
            line-height: 0.85;
        }
        
        @media (min-width:767px) {
            .left {
                margin-left: 2%;
            }
        }
        
        .center {
            text-align: center;
            /*These options are for the div to be visible in the example, the important is the first*/
            /*border: 1px solid black;*/
            width: auto;
            /*height: 50px;*/
        }
        
        .cmb {
            display: block;
            margin: 0 auto;
        }
        
        .blink_me {
            animation: blinker 1s linear infinite;
        }
        
        @keyframes blinker {
            50% {
                opacity: 0;
            }
        }
        
        .alert {
            padding: 10px 0px !important;
        }
        
        .alert-dismissable .close,
        .alert-dismissible .close {
            position: relative;
            top: -2px;
            right: 10px;
            color: inherit;
        }
        /* Availibity status*/
        
        .icon-container {
            width: 50px;
            height: 50px;
            position: relative;
        }
        
        .status-circle {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #92C353;
            border: 2px solid white;
            bottom: 0;
            right: 0;
            position: absolute;
        }
        
        .btn {
            border: none !important;
        }